body {
    background-color: lightblue;
    text-align: center;
    margin-left:20px;
    margin-right:20px;
}

.login_box {
    background-color: white;
    border-radius: 15px; 
}

#submit {
    width: 600px;
    border-radius: 15px;
    border: blue solid 5px;
}
